<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="writing" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into boards_table(boardTitle,boardContents,boardFileName,boardWriter,boardId) values (#{boardTitle},#{boardContents},#{boardFileName},#{boardWriter},#{id})
    </insert>
    <insert id="saveFileName2" parameterType="board">
        insert into boards_file_table(originalFileName_member,storedFileName_member,boardFileId) values (#{originalFileName_member},#{storedFileName_member},#{id})
    </insert>
    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select*from boards_table order by id desc limit #{start},#{limit}
    </select>
    <select id="boardCount" resultType="Integer">
        select count(id) from boards_table
    </select>
    <update id="updateHits" parameterType="Long">
        update boards_table set boardHits = boardHits+1 where id=#{id}
    </update>
    <select id="findById" resultType="board" parameterType="board">
        select * from boards_table where id=#{id}
    </select>
</mapper>