<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="writing" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into boards_table(boardTitle,boardContents,boardWriter,boardId,fileAttached_boards) values (#{boardTitle},#{boardContents},#{boardWriter},#{boardId},#{fileAttached_boards})
    </insert>
    <insert id="saveFileName2" parameterType="board">
        insert into boards_file_table(originalFileName_boards,storedFileName_boards,boardFileId) values (#{originalFileName_boards},#{storedFileName_boards},#{id})
    </insert>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select*from boards_table order by id desc limit #{start},#{limit}
    </select>
    <select id="boardCount" resultType="Integer">
        select count(id) from boards_table
    </select>
    <update id="updateHits" parameterType="Long">
        update boards_table set boardHits = boardHits+1 where id=#{id}
    </update>
    <select id="findById" resultType="board" parameterType="Long">
        select * from boards_table where id=#{id}
    </select>
    <select id="findByIdFile" resultType="board" parameterType="board">
        select * from boards_table b, boards_file_table bf where b.id=bf.boardFileId and b.id=#{id}
    </select>
    <update id="update" parameterType="board">
        update boards_table set boardTitle=#{boardTitle},boardContents=#{boardContents} where id=#{id}
    </update>
    <delete id="boardDelete" parameterType="Long">
        delete from boards_table where id=#{id}
    </delete>
    <select id="search" parameterType="java.util.HashMap" resultType="board">
        select * from boards_table where ${type} like concat('%',#{q},'%') order by id desc
    </select>
</mapper>