<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
<insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
    insert into members_table(memberEmail,memberPassword,memberName,memberMobile, fileAttached_members,memberProfile) values(#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile},#{fileAttached_members},#{memberProfile})
</insert>
    <select id="emailDuplicateCheck" resultType="String" parameterType="member">
        select memberEmail from members_table where memberEmail=#{memberEmail}
    </select>
<insert id="saveFile" parameterType="member">
    insert into members_file_table(originalFileName_profile,storedFileName_profile,memberId) values(#{originalFileName_profile},#{storedFileName_profile},#{id})
</insert>
    <select id="login" resultType="member" parameterType="member">
        select * from members_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>
    <select id="findAll" resultType="member">
        select * from members_table
    </select>
    <select id="memberFindById" resultType="member" parameterType="Long">
        select * from members_table where id=#{id}
    </select>
    <select id="memberFindByIdFile" resultType="member" parameterType="member">
        select * from members_table m, members_file_table mf where m.id=mf.memberId and m.id=#{id}
    </select>
    <delete id="delete" parameterType="Long">
        delete from members_table where id=#{id}
    </delete>
    <select id="myPageForm" resultType="member" parameterType="member">
        select * from members_table where memberEmail =#{memberEmail}
    </select>
    <update id="myPage" parameterType="member">
        update members_table set memberName=#{memberName},memberMobile=#{memberMobile},memberProfile=#{memberProfile} where id=#{id}
    </update>
    <update id="saveFileNameUpdate" parameterType="member">
        update members_file_table set originalFileName_profile=#{originalFileName_profile}, storedFileName_profile=#{storedFileName_profile},memberId=#{id} where id=#{id}
    </update>

</mapper>














